<!DOCTYPE html>
<html>

<head>
	<title> Welcome to DIZARD, if you dare... mwahahahah</title>
</head>

<body>
	<object type="application/x-shockwave-flash" data="http://www8.agame.com/mirror/flash/s/SnailBob.swf" width="640px" height="480px" id="flashgame"><param name="base" value="http://www8.agame.com/mirror/flash/s/"><param name="quality" value="autohigh"><param name="allowFullScreen" value="false"><param name="wmode" value="direct"><param name="allowScriptAccess" value="always"><param name="scale" value="showall"><param name="flashVars" value="id=149681&amp;s=79&amp;c=2&amp;username=guest&amp;hash=UwAA_wCXBAEB0JOTVYgATwIAUre-NwAAAACHRTMZZnNFX6XAYRrQD_6TR086qA"><param name="bgcolor" value="#FFFFFF"><param name="hasPriority" value="true"></object>
</body>
</html>